* {
  color: white;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pictureFrame {
   //border: 5px solid lightblue;
   //background-color: #f1f1f1;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 80%;
 }

.controlFrame {
  //border: 5px solid lightblue;
  //background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.zoom-in-button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, $secondary-1, $secondary-2) !important;
}

.zoom-out-button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, $secondary-1, $secondary-2) !important;
}
