page-text {
  .mic-button {
    display: inline-block;
    height: 85px;
    width: 85px;
    border-radius: 50%;
  }

  .mic-icon {
    font-size: 75px;
  }

  .mic-col {
    text-align: center;
  }

  .mic-row {
    position: fixed;
    bottom: 60px;
  }
}
